.footer {
    color: #888;
}

.footer .branding--logo {
    display: inline-block;
    float: left;
    margin-left: 1em;
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
}
.footer .logo__image {
    display: inline-block;
}
.footer .logo__site-name {
    display: inline-block;
}
.footer .session--info {
    display: inline-block;
    float: right;
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    right: 5em;
}
.footer .session__title, .footer .session__presenter {
    display: inline-block;
    transition: opacity 0.5s ease-in-out 0.5s;
}
